<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/LandingPage.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Sofia"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Document</title>
  </head>
  <body>    
    <%- include('./partials/menu') %>
    <!-- <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">Tutor Finder</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="../Login/Login.html">Login</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="../Assignment-2/HireTutor.html">Hire Tutor</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          Projects
                      </a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="../Assignment-2/App.html">App Development</a></li>
                          <li><a class="dropdown-item" href="../Assignment-2/Web.html">Web Development</a></li>
                          <li>
                              <hr class="dropdown-divider" />
                          </li>
                          <li>
                              <a class="dropdown-item" href="#">Machine Learning</a>
                          </li>
                      </ul>
                  </li>
                  <li class="nav-item">
                      <a href="../Signup/Signup.html" class="nav-link">Signup</a>
                  </li>
              </ul>
              <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                  <button class="btn btn-outline-success" type="submit">
                      Search
                  </button>
              </form>
          </div>
      </div>
    </nav> -->

    <div id="front">
      <div id="center">
        <h1>Every student needs a</h1>
        <div id="animation">
          <h2><span></span></h2>
        </div>
        <div class="plans">
          <a href="#"><p>Explore</p></a>
        </div>
      </div>
    </div>

    <div id="aim">
      <div id="left">
        <p>TutorFinder connects students with high qualified tutors for one to one session. We aim to provide best learning experience to students.</p>
      </div>
      <div id="right">
        <img src="/asseta/student.jpg" alt="student picture">
      </div>
    </div>

    

    <div id="body">
      <div class="left">
        <p>
          Its time to turn your excelence to work.
        </p>
        <p>
          There can be a student who need your one to one 
          support. TutorFinder is providing the way students access 
          and receive high-quality, personalized tutoring and tutors to 
          help those students. Join 
          our community of tutors to make a real difference 
          in the lives of students.
        </p>
        <a href="#">Apply as a tutor</a>
      </div>
      <div class="right ">
        <img src="/assets/t.webp" alt="image">
      </div>
    </div>

    <div id="book">
      <p>Start better study and teaching today for future of nation.</p>
      <a href="#"><p>Book Tutor</p></a>
    </div>

    <footer>
      <div class="footer container-xxl">
          <div class="row">
              <div class="col-md-3 follow">
                  <h3>Tutor Finder</h3>
                  <div class="icon">
                      <a class="a shadow-lg mb-2 rounded" rel="noreferrer" href="https://instagram.com/m_ahmad1023?igshid=YmMyMTA2M2Y="
                          target="_blank"><i class="fa fa-instagram"></i></a>
                      <a class="a shadow-lg mb-2 rounded" rel="noreferrer" href="https://linkedin.com/in/muhammad-ahmad-5479241b0" target="_blank"><i
                              class="fa fa-linkedin"></i></a>
                      <a class="a shadow-lg mb-2 rounded" rel="noreferrer" href="https://github.com/muhammadAhmad10" target="_blank"><i
                              class="fa fa-github"></i></a>
                      <a class="a shadow-lg mb-2 rounded" rel="noreferrer" href="https://twitter.com/ahmaddevtobe" target="_blank"><i
                              class="fa fa-twitter"></i></a>
                  </div>
              </div>

              <div class="col-md-3 services">
                  <h3>Services</h3>
                  <ul class="service">
                      <li><a href="#">Find a Tutor</a></li>
                      <li><a href="#">Become a Tutor</a></li>
                      <li><a href="#">FAQs</a></li>
                  </ul>
              </div>
              <div class="col-md-3">
                  <h3>About Us</h3>
                  <p>Your website's brief description and purpose goes here.</p>
              </div>
              <div class="col-md-3 contact">
                  <h3>Contact Us</h3>
                  <ul class="address">
                      <li>123 Main Street, City</li>
                      <li>Phone: 555-555-5555</li>
                      <li>Email: info@yourwebsite.com</li>
                  </ul>
              </div>
          </div>
          <hr />
          <p class="text-center copyright">Copyright &copy; - All Rights Reserved</p>
      </div>
    </footer>
  </body>
</html>
